{% extends "base.html" %}
{% block css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style>
    .font {
      font-family: 'Gowun Dodum', sans-serif;
    }
  </style>
{% endblock css %}
{% block content %}
<div class="container border bg-dark.bg-gradient p-3 rounded-5 font fw-bold text-white font">
    <h1 class="animate__animated animate__headShake">비밀번호 변경</h1>
    <form action="{% url 'change_password' user.pk %}" method="POST">
      {% csrf_token %}
      <p class="">{{ form.as_p }}</p>
      <button type="submit" id="btn_cursor" class="btn btn-outline-light me-3 mt-3 rounded-5"> 변경하기 </button>
      <a href="{% url "accounts:update" %}" class="btn btn-outline-light me-3 mt-3 rounded-5">뒤로가기</a>  
    </form>
</div>
{% endblock content %}

